@model Colegio.Models.Usuario

@{
    ViewBag.Title = "Detalle del Usuario";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
